html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fdfdfd;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

h1 {
  color: #616161;
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  margin: 0;
  position: relative;
  text-align: center;
  z-index: 1;
}

h2 {
  color: #616161;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.login-form-wrapper {
  align-self: center;
  background-color: white;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 50px;
  padding: 10px;
  position: relative;
  width: 400px;
  z-index: 1;
}

.login-form-wrapper form {
  width: 100%;
}


.input-text {
  display: flex;
  margin-bottom: 35px;
  position: relative;
  width: 100%;
}

.input-text label {
  background-color: white;
  color: #616161;
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: 2px;
  transition-duration: 50ms;
}

.input-text input {
  background: transparent;
  border-bottom: 1px solid #616161;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  caret-color: #077ed6;
  color: #616161;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  outline: none;
  padding: 2px 0;
  transition-duration: 50ms;
  width: 100%;
}

.input-text input:focus {
  border-bottom: 1px solid #077ed6;
  outline: none;
}

.input-text input.no-empty ~ label {
  font-size: 12px;
  top: -14px;
}

.input-text input.active ~ label {
  color: #077ed6;
  font-size: 12px;
  top: -14px;
}

.login-form-wrapper form button {
  -webkit-user-select: none;
  align-self: center;
  background: transparent;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  display: block;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  margin: auto;
  outline: none;
  padding: 7px 20px;
  position: relative;
  text-transform: capitalize;
  user-select: none;
}

.login-form-wrapper form button:hover {
  background-color: rgba(200, 200, 200, 0.20);
  color: #077ed6;
}

#error-msg {
  color: red;
  font-size: 13px;
  margin: 0;
  text-align: center;
}

.hint {
  color: #616161;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 24px;
}

#description {
  color: #616161;
  font-size: 14px;
  margin-bottom: 0 0 15px 0;
  text-align: center;
}

#success-msg {
  color: #4caf50;
  font-size: 13px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .login-form-wrapper {
    width: 290px;
  }
}
